{
  "env": {
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "claude-haiku-4-5",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "claude-opus-4-6",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "claude-sonnet-4-6"
  },
  "hooks": {},
  "statusLine": {
    "type": "command",
    "command": "bash {{ .chezmoi.homeDir }}/.claude/statusline-command.sh"
  },
  "enabledPlugins": {
    "gopls-lsp@claude-plugins-official": true,
    "nono@always-further": true
  },
  "effortLevel": "medium",
  "model": "opus",
  "gitCoAuthoredBy": false,
  "skipWorkflowUsageWarning": true
}
