# .gitconfig to be included from host-specific .gitconfig
# 
# Append to ~/.gitconfig:
#
# [include]
#   path = dotfiles/common/.gitconfig
#
[push]
	default = matching
[merge]
	ff = false
[pull]
	ff = only
[alias]
    lot = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(yellow)%h%C(reset) %C(green)(%ar)%C(reset) - %C(cyan)%an%C(reset) - %C(white)%aD%C(reset) -%C(bold red)%d%C(reset) %C(dim white)%s%C(reset)' --all
    hist = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
	# See: https://coderwall.com/p/6l2paq/show-merged-and-unmerged-branches-in-git
    unmerged = !git branch -r --no-merged | grep -v -e HEAD -e develop -e master | xargs -L1 git --no-pager log --pretty=tformat:'%Cgreen%d%Creset - %h by %an (%Cblue%ar%Creset)' -1
    merged = !git branch -r --merged | grep -v -e HEAD -e develop -e master | xargs -L1 git --no-pager log --pretty=tformat:'%Cgreen%d%Creset - %h by %an (%Cblue%ar%Creset)' -1